@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Races";
}

<a asp-controller="Home" asp-action="Menu">Go back</a>
<a asp-controller="Info" asp-action="BuildMap">Races on map</a>
<a asp-controller="Info" asp-action="SelectRace">One by one</a>