@model L01.Models.Ticket

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Confirm Order";
}

<p>
    Thank you <b>@(Model.Name)</b> for ordering tickets for the race in <b>@(Model.Race.Name)</b>, your booking is registered on <b>@(Model.OrderDate.ToString("dd/MM/yyyy"))</b>. We will send the <b>@(Model.Number) tickets</b> as soon as possible.
</p>

<a asp-controller="Home" asp-action="Menu">Go back</a>

